In [4]:
import pandas as pd
import erppeek
from conn import *

In [6]:
Q_GET_DEPARTMENT = """SELECT distinct b.satker as scope_kerja
                    FROM simpeg.tb_01 a
                    LEFT JOIN simpeg.skpd1 b
                    ON a.idjab= b.idskpd
                    WHERE a.idstspeg IN ('1','2','3','7')
                    AND a.idjenkedudupeg='01'"""

In [9]:
cur.execute(Q_GET_DEPARTMENT)
department_sql = cur.fetchall()

In [10]:
department_sql

[{'scope_kerja': 'Rektorat UDINUS'},
 {'scope_kerja': 'Pasca Sarjana'},
 {'scope_kerja': 'Biro Kerjasama dan KUI'},
 {'scope_kerja': 'Fakultas Ilmu Komputer'},
 {'scope_kerja': 'Fakultas Ekonomi dan Bisnis'},
 {'scope_kerja': 'Fakultas Ilmu Budaya'},
 {'scope_kerja': 'Fakultas Kesehatan'},
 {'scope_kerja': 'Fakultas Teknik'},
 {'scope_kerja': 'LPM (Lembaga Penjaminan Mutu)'},
 {'scope_kerja': 'Biro Kemahasiswaan'},
 {'scope_kerja': 'Biro Akademik'},
 {'scope_kerja': 'UPT Perpustakaan'},
 {'scope_kerja': 'UPT Laboratorium Komputer'},
 {'scope_kerja': 'UPT TVKU'},
 {'scope_kerja': 'LPPM'},
 {'scope_kerja': 'UPT Layanan Karir dan Alumni'},
 {'scope_kerja': 'Pusat Mutu Non-Akademik'},
 {'scope_kerja': 'Biro Umum'},
 {'scope_kerja': None},
 {'scope_kerja': 'Biro Admisi'},
 {'scope_kerja': 'UPT Kewirausahaan'},
 {'scope_kerja': 'Pusat HAKI dan Paten'},
 {'scope_kerja': 'LPPK'}]

In [11]:
df_department = pd.DataFrame(department_sql)
df_department

                      scope_kerja
0                 Rektorat UDINUS
1                   Pasca Sarjana
2          Biro Kerjasama dan KUI
3          Fakultas Ilmu Komputer
4     Fakultas Ekonomi dan Bisnis
5            Fakultas Ilmu Budaya
6              Fakultas Kesehatan
7                 Fakultas Teknik
8   LPM (Lembaga Penjaminan Mutu)
9              Biro Kemahasiswaan
10                  Biro Akademik
11               UPT Perpustakaan
12      UPT Laboratorium Komputer
13                       UPT TVKU
14                           LPPM
15   UPT Layanan Karir dan Alumni
16        Pusat Mutu Non-Akademik
17                      Biro Umum
18                           None
19                    Biro Admisi
20              UPT Kewirausahaan
21           Pusat HAKI dan Paten
22                           LPPK

### MENDAPATKAN DATA PEGAWAI

In [12]:
Q_GET_PEGAWAI = """SELECT a.staf_id, a.nip, a.gdp, a.nama, a.gdb, 
                a.idskpd, b.satker as scope_kerja,a.idjab, b.jab as struktural
                FROM simpeg.tb_01 a
                LEFT JOIN simpeg.skpd1 b
                ON a.idjab= b.idskpd
                WHERE a.idstspeg IN ('1','2','3','7')
                AND a.idjenkedudupeg='01'"""

In [14]:
cur.execute(Q_GET_PEGAWAI)
pegawai_sql = cur.fetchall()

In [15]:
df_pegawai = pd.DataFrame(pegawai_sql)
df_pegawai.head()

,staf_id,nip,gdp,nama,gdb,idskpd,scope_kerja,idjab,struktural
0,1,0686.11.1990.001,Prof. Dr. Ir,EDI NOERSASONGKO,M.Kom,10101,Rektorat UDINUS,10101,Rektor
1,1598,0686.11.2015.609,Prof. Dr.,SUPRIADI RUSTAD,M.Si,10101,Rektorat UDINUS,1010101,Wakil Rektor I
2,2,0686.11.1990.002,Dr,ST. DWIARSO UTOMO,"SE,M.Kom,Akt,CA",10101,Rektorat UDINUS,1010102,Wakil Rektor II
3,13,0686.11.1992.029,Dr,KUSNI INGSIH,MM,10101,Rektorat UDINUS,1010103,Wakil Rektor III
4,288,0686.20.2007.337,Dr,SUPRAPEDI,M.Eng.,10201,Pasca Sarjana,10201,Direktur Pasca Sarjana

### INJECT ke DB

In [16]:
USERNAME = "luthfi.irfan11@gmail.com"
PASSWORD = "12345678"
DB = "doc-approval"
SERVER = "http://localhost:8069"

client = erppeek.Client(SERVER, db=DB, user=USERNAME, password=PASSWORD)
client

In [ ]:
# tipe_unit_list = [('0', 'Universitas'), ('1','Fakultas'),('2','Jurusan'), ('3','Prodi'),('4','Laboratorium'),('5','UPT'),('6','Penyelenggara MKU'),('7', 'Ormawa')]

for i, depart in df_department.iterrows():
    if(client.search('docav.department', [("name", "=", depart["scope_kerja"])])):
        continue
    print(depart["scope_kerja"])
    values = {
        'tipe_unit': '1',
        'name': depart["scope_kerja"]
    }
    client.create("docav.department", values)